In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("../DAP2/processeddata/2018_Financial_Data.csv")

In [6]:
df.head()

,Unnamed: 0,priceCashFlowRatio,priceEarningsRatio,priceEarningsToGrowthRatio,priceBookValueRatio,currentRatio,quickRatio,payoutRatio,Class
0,0,6.342493,13.3008,13.136438,2.1632,0.792000,0.540449,0.358,1
1,2,7.261557,10.2691,10.151625,2.8625,1.731000,1.105016,0.263,1
2,3,3.493076,4.2999,4.299931,1.8919,2.787000,2.134168,0.000,1
3,4,14.889428,0.0000,47.514074,2.0436,1.718208,1.402587,-0.141,1
4,5,6.229351,9.3333,8.746366,0.9151,0.411740,0.410799,0.205,1

In [8]:
y = df["Class"]

0       1
1       1
2       1
3       1
4       1
       ..
1631    1
1632    0
1633    1
1634    1
1635    1
Name: Class, Length: 1636, dtype: int64